#
# Configuration file for pySagraWeb
#

[CHEROOT]
hostname                = 0.0.0.0       ; listen on all interfaces
port                    = 5443          ; port to listen on
numthreads              = 10            ; minimum number of threads to start
server_name             = pySagraWeb    ; server name to use in HTTP headers
max                     = -1            ; maximum number of worker threads (-1 means no limit)
request_queue_size      = 5             ; maximum number of requests to queue before refusing connections
timeout                 = 10            ; timeout for requests in seconds
shutdown_timeout        = 5             ; the total time, in seconds, to wait for worker threads to cleanly exit
accepted_queue_size     = -1            ; maximum number of active requests in queue
accepted_queue_timeout  = 10            ; timeout for putting request into queue

[SERVERDB]
app_name                = pySagra
app_version_major       = 1
app_version_minor       = 0
pg_min_ver              = 18
database                = pysagra_demo
user                    = pySagraWeb
password                = pySagraWeb
company                 = 20
server                  = localhost
port                    = 5432
db_user                 = pa_login_role
db_password             = pa_login_password
hostname                = pysagra_web_server

[FLASKAPP]
locale                  = it_IT.UTF-8

[LOGIN]
user                    = adminweb
password                = Pirotecnico9

[STATUS]
rows                    = 15

[MONITOR]
rows                    = 15
