
/* Click effect for all buttons */
.btn {
    transition: transform 0.1s ease, filter 0.1s ease;
}
.btn:active {
    transform: scale(0.96) translateY(2px); /* It shrinks and goes down */
    filter: brightness(0.9); /* It darkens slightly */
}

/* apply a border to any cell of the table */
/* table.table-sm tr td {
   border: 1px solid #6c757d !important; /* uniform dark line
} 
*/
