<!doctype html>
<html lang="it">
  <head>
    <title>pySagraWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href={{ url_for("static", filename="pySagra.png") }}>
    <link rel="stylesheet" media="screen" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    <script src={{ url_for("static", filename="js/jquery-3.7.1.min.js") }}></script>
    <script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>
	<script src={{ url_for("static", filename="js/bootstrap.bundle.min.js") }}></script>
	<script src={{ url_for('static', filename='js/htmx.min.js') }}></script>
  </head>
  <body class="bg-light bg-gradient">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <!-- modal flash message warning -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto" id="exampleModalLabel">Attenzione</h5>
        </div>
        <div class="modal-body" id="flashes">
          {% for message in messages %}
          <p class="text-center">{{ message }}</p>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" name="ok" class="btn btn-success mx-auto" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <script>
  var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal')) // Returns a Bootstrap modal instance
  // show or hide:
  modal.show();
  //modal.hide();
  </script>
  {% endif %}
  {% endwith %}

{% block content %}
{% endblock %}
  </body>
</html>