{% extends "base.html" %}
{% block content %}

<div class="container-fluid text-sm-center p-3 bg-primary text-white mb-4 bg-gradient">
  <h2>Ordini in corso</h2>
</div>

<div class="container-fluid px-3 pb-0">
  <div class="row">
    <div class="col-12">
    
      <div class="table-responsive rounded border">
        
        <table class="table table-sm table-bordered w-100 align-middle border-0 m-0">
            <caption>Stato: I = inserito, L = in lavorazione, C = completato</caption>
          <thead class="table-dark">
            <tr>
              <th class="text-center" style="width: 10%">Numero</th>
              <th class="text-center" style="width: 10%">Data</th>
              <th class="text-center" style="width: 5%">Ora</th>
              <th class="text-center" style="width: 5%">Consegna</th>
              <th class="text-center" style="width: 10%">Tavolo</th>
              <th class="text-center" style="width: 30%">Nome</th>
              <th class="text-center" style="width: 5%">Stato</th>
              <th class="text-center" style="width: 10%">Completato</th>
              <th class="text-center" style="width: 15%">Attesa (min)</th>
            </tr>
          </thead>
          
          <tbody id="table-body" 
                 hx-get="{{ url_for('status.order_status_update_rows') }}" 
                 hx-trigger="every 10s" 
                 hx-swap="innerHTML">
            {% include "current_order_status_rows.html" %}
          </tbody>
          
        </table>
        
      </div>

    </div>
  </div>
</div>

{% endblock %}
