{% extends "base.html" %}
{% block content %}
<div class="container-fluid text-sm-center p-3 bg-primary text-white mb-4 bg-gradient">
  <h2>Inventario</h2>
</div>
<!-- items availability table-->
<div class="container-fluid px-3 pb-4">
  <div class="table-responsive rounded border">
    <table class="table table-sm table-bordered w-100 align-middle border-0 m-0">
      <thead class="table-dark">
        <tr>
          <th class="text-left" style="width: 40%">Articolo</th>
          <th class="text-center" style="width: 12%">Carico</th>
          <th class="text-center" style="width: 12%">Scarico</th>
          <th class="text-center" style="width: 12%">Esistenza</th>
          <th class="text-center" style="width: 12%">Ordinato</th>
          <th class="text-center" style="width: 12%">Disponibile</th>
        </tr>
      </thead>
      <tbody 
            id="table-body"
            hx-ext="morph"
            hx-get="{{ url_for('monitor.monitor_inventory_update_rows') }}" 
            hx-trigger="every 5s" 
            hx-target="#table-body" 
            hx-swap="morph">
        {% include "monitor_inventory_rows.html" %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
