{% for line in lines %}
    <tr class="text-dark">
        <td class="text-start">{{ line.order_date }}</td>
        <td class="text-end">{{ line.num_orders | fmt}}</td>
        <td class="text-end">{{ line.num_covers | fmt}}</td>
        <td class="text-end">{{ line.take_away | fmt}}</td>
        <td class="text-end">{{ line.table | fmt}}</td>
        <td class="text-end">{{ line.amount | fmt}}</td>
        <td class="text-end">{{ line.discount | fmt}}</td>
        <td class="text-end">{{ line.electronic | fmt}}</td>
        <td class="text-end">{{ line.cash | fmt}}</td>
        <td class="text-end">{{ line.total | fmt}}</td>
    </tr>
{% endfor %}